html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* General Styles */
body {
  background-color: #EEEEEE;
  color: #222831;
  background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carousel-inner {
  color: #EEEEEE;
}


.navbar .navbar-brand {
  color: rgb(84, 152, 84) !important;
}

h3 {
  color: #222831;
}

body > .container {
  flex: 1; /* Fills the available space */
}

a {
  color: #007bff;
  text-decoration: none;
}

header, h1 {
  color: #ffffff;
}

p {
  color: #222831;
}

header, p {
  color: #ffffff;
}

section {
  background-color: #eeeeee00;
}

/* Navbar */
nav {
  background-color: #222831;
  color: #EEEEEE;
}

footer {
  color: beige;
  background-color: #222831;
  margin-top: auto;
}

footer p {
  color: beige;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Set transparency */
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card p {
  color: #222831;
}

section {
  padding: 2rem 0;
  border-radius: 10px;
  background-color: transparent;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.9) !important; /* Set transparency */
  color: #094d18;
}

.bg-light p {
  color: #222831;
}


.lead {
  color: #d6e7ff;
}

.container .d-flex .justify-content-between {
  color: #EEEEEE;
  background-color: #222831;
}

.background-overlay {
  background-color: rgba(30, 30, 30, 0.5);
}

.navbar-brand {
  color: #EEEEEE;
}

.site-title {
  color: #007bff !important;
}

/* Buttons */
.btn {
  background-color: #00000000;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-apply {
  background-color: #28a745;
  color: white;
}

.btn-apply:hover {
  background-color: #218838;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(to right, #002d5d, #00afe4); /* Blue gradient */
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* Carousel Controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

#contact-us {
  background-color: rgba(255, 255, 255, 0.319);
}